# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
log/
logs/

# Environment variables
.env

# Directory for test coverage reports
coverage/

# Build directories
dist/
build/

# Static files
public/static/
public/uploads/
uploads/

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# VS Code
.vscode/
.vscode/*

# JetBrains IDEs
.idea/
.idea/*

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
